<div id="app-examples" class="row">
    <div class="row text-center intro">
        <div class="row">
            <div class="accent inline">2 years</div>
            <div class="inline">of experience building production ready solutions.</div>
        </div>
        <div class="row">
            <div class="inline">I</div>
            <div class="accent inline">Love</div>
            <div class="inline">using</div>
            <div class="accent inline">JavaScript</div>
            <div class="inline">and</div>
            <div class="accent inline">Ruby</div>
            <div class="inline">for applications, and am confortable with </div>
            <div class="accent inline">Python</div>
            <div class="inline">.</div>
        </div>
        <div class="row">
            <div class="accent inline">Rails</div>
            <div class="inline">is my favorite framework</div>
            <div class="inline">for API driven applications, but I have come to love</div>
            <div class="accent inline">Ember </div>
            <div class="inline">just as much for a front end framework. </div>
        </div>
        <div class="row">
            <div class="accent inline">Node</div>
            <div class="inline">and</div>
            <div class="accent inline">Express </div>
            <div class="inline">are quickly becoming my go to for rapidly building</div>
            <div class="accent inline">micro-services</div>
            <div class="inline">.</div>
        </div>
        <div class="row">
            <div class="inline">I reach for</div>
            <div class="accent inline">Postgres</div>
            <div class="inline">when building a database.</div>
        </div>
        <div class="row">
            <div class="inline">I feel that css should </div>
            <div class="accent inline">only</div>
            <div class="inline">be written in </div>
            <div class="accent inline">SASS</div>
            <div class="inline">.</div>
        </div>
        <div class="row">
            <div class="inline">Here is some of </div>
            <div class="accent inline">my</div>
            <div class="inline">work.</div>
        </div>
    </div>

    <div id="example-container">
        {{#each model as |example|}}
            <div class="row odd">
                <div class="col-sm-5">
                    <div class="img-container">
                        <img class="example-img" src={{example.image}} />
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="info-container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="title">
                                    {{example.title}}
                                </div>
                            </div>
                            <div class="col-sm-6 text-right">
                                <div class="date">
                                    {{example.date}}
                                </div>
                            </div>
                        </div>
                        <div class="row description">
                            {{example.description}}
                        </div>
                        <div class="row languages">
                            <div class="col-sm-3">
                                Languages:
                            </div>
                            <div class="col-sm-9">
                                {{example.languages}}
                            </div> 
                        </div>
                        <div class="row languages">
                            <div class="col-sm-3">
                                Frameworks:
                            </div>
                            <div class="col-sm-9">
                                {{example.frameworks}}
                            </div>
                        </div>
                        <div class="row languages">
                            <div class="col-sm-3">
                                Website:
                            </div>
                            <div class="col-sm-9">
                                <a href={{example.website}} target="_blank"> {{example.websiteName}} </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
